body {
  line-height: 1.4;
  min-width: 320px;
  background: #f4f3f2;
  color: $mainFontColor;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.clear {
  clear: both;
}

.clearfix::after {
  content: '';
  clear: both;
  display: table;
}

.outline {
  outline: 1px solid black;
}

.krestik {  // TODO refactor
  position: relative;
  cursor: pointer;
  width: 16px;
  height: 16px;
  transition: ease .2s;
}

.krestik::before {
  content: '';
  position: absolute;
  top: 0;
  left: 45%;
  display: block;
  width: 2px;
  height: 17px;
  background: #8c959e;
  transform: rotate(45deg);
}

.krestik::after {
  content: '';
  position: absolute;
  top: 0;
  left: 45%;
  display: block;
  width: 2px;
  height: 17px;
  background: #8c959e;
  transform: rotate(-45deg);
}

.krestik:hover {
  transform: rotate(90deg);
}
